<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Giphies FTW</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body data-version="<%=process.env.npm_package_version%>">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/giphies">Giphies</a></li>
        </ul>
    </nav>
    
    <main>